html {
    font-size: 10px;
}
body {
    font-family: Popins, sans-serif;
    font-size: 18px;
    font-weight: 200;
    background-color: #a6ffdb;
}
.words {
    max-width: 500px;
    background: #f3f6f5;
    margin: 50px auto;
    padding: 1rem 2rem 1rem 5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    line-height: 3rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f6f5), color-stop(50%, #f3f6f5)) 0 4%;
    background-size: 100% 3rem;
    position: relative;
}
p {
    margin: 0 0 3rem;
}
.words:before {
    content: '';
    position: absolute;
    width: 3px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #5d5c5c;
}
